<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meetup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeetUp">
        <activity
            android:name=".activites.ChatActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activites.UsersActivity" />
        <activity
            android:name=".activites.SignUpActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activites.SignInActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activites.Second_Activity" />
        <activity
            android:name=".activites.MainActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>